body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#log{
    height: 300px;
    overflow: auto;
    padding: 5px;
    xborder: 1px solid #DEDEDE;
    xbackground: #FDFDFD;
    font-size: 11px;
}

#chat-area{
    height: 300px;
    overflow-y:auto;
    font-size: 12px;
    margin-bottom: 5px;
}

#chat-input{
    width:100%
}

#roster-area ul{
    list-style: none;
    font-size: 10px;
    padding: 0;
    margin-bottom: 0px;
}

.chat-name {
    color: #c33;
}

.chat-message .me {
    color: #33c;
}

.chat-event {
    font-style: italic;
    font-size: 75%;
}

.roster-contact {
    padding-left: 10px;
    padding-bottom: 10px;
    xbackground: rgb(251, 251, 251);
    border-bottom: 1px solid #EAEAEA;
}

.roster-name {
    font-size: 150%;
    color: #545454;
}

.roster-resource.online {
    color: green;
}

.roster-resource.away {
    color: orange;
}

.roster-resource.offline {
    color: #C7254E;
}

.online .roster-name::after{
    content: " ●";
    color:green;
}

.away .roster-name::after{
    content: " ●";
    color:orange;
}

.offline .roster-name::after{
    content: " ●";
    color:#C7254E;
}

.list-inline>li{
    vertical-align: top;
    margin-top: 12px;
    width:100%;
    padding-right:0 !important;
}

.roster-jid{
    display: none;
}

#users-container .panel-body{
    padding:0;
}