extends layout

block content
    div(class='container')
        h1= title
        div(class="row")
            div(class="col-md-12")
                div
                    div(class="btn-group pull-right")
                        button(id='ping' type='button' value='Connect' class='btn btn-default' data-loading-text='Connecting...')
                            | Ping
                        button(id='disconnect' type='button' value='Connect' class='btn btn-default' data-loading-text='Connecting...')
                            | Disconnect
                    span &nbsp;
                    div(class="btn-group")
                        div(class='dropdown state-dropdown hide')
                            button(id='dLabel' class='btn btn-success dropdown-toggle presence-dropdown' type='button' role='button' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                span(class='current-presence') Online&nbsp;
                                span(class='badge resource-badge')
                                    span on&nbsp;
                                    span(class="resource-description")
                                span &nbsp;
                                span(class='caret')
                            ul(class="dropdown-menu" aria-labelledby="dLabel")
                                li
                                    a(href='#' data-state='2')
                                        |Online
                                li
                                    a(href='#' data-state='1' )
                                        |Away
                                li
                                    a(href='#' data-state='3' data-toggle-status='1')
                                        |Busy
                                li(role='separator' class='divider')
                                li
                                    a(href='#' data-state='4')
                                        |Appear Offline
                    span &nbsp;
                    div(class="btn-group")
                        div(class='dropdown status-dropdown hide')
                            button(class='btn btn-default dropdown-toggle' type='button' role='button' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                span(class='current-status') On Call&nbsp;
                                span(class='caret')
                            ul(class="dropdown-menu")
                                li
                                    a(href='#' data-status='1')
                                        i(class='glyphicon glyphicon-earphone') &nbsp;
                                        span On Call
                                li
                                    a(href='#' data-status='2')
                                        i(class="glyphicon glyphicon-phone-alt") &nbsp;
                                        span After Call Work
                    hr
        div
            div(class='row')
                div(class='col-md-10')
                    div(id='chat-container' class='panel panel-default')
                        div(class='panel-heading')
                            h4(class='panel-title').
                                #Operators
                        div(class='panel-body')
                            div(id='chat-area')
                            div
                                input(type='text' id='chat-input' placeholder='Type something and press Enter to send it...')
                div(class='col-md-2')
                    div(id='users-container' class='panel panel-default')
                        div(class='panel-heading')
                            h4(class='panel-title').
                                Operators
                        div(class='panel-body')
                            div
                                div(id='roster-area')
                                    ul(class="list-inline")
            div(class='row')
                div(class='col-md-12')
                    div(id='log-container' class='panel panel-default')
                        div(class='panel-heading')
                            a(class='panel-title' data-toggle='collapse' href='#collapse1').
                                Log
                        div(id='collapse1' class='panel-collapse collapse')
                            div(class='panel-body')
                                div(id='log')
    div(class='modal fade' role='dialog' id='login-dialog')
        div(class='modal-dialog')
            div(class='modal-content')
                div(class='modal-header')
                    h4(class='modal-title') Login
                div(class='modal-body')
                    form(id='login-form')
                        div(class='form-group')
                            label(for='username') Resource
                            select(class='form-control' id='resource' placeholder='Resource')
                                option(data-value='Talkdesk') Talkdesk
                                option(data-value='Mobile') Mobile
                                option(data-value='Slack') Slack
                        div(class='form-group required')
                            label(for='username') Username
                            input(type='text' class='form-control' id='username' placeholder='Username')
                        div(class='form-group required')
                            label(for='password') Password
                            input(type='password' class='form-control' id='password' placeholder='Password')

                div(class='modal-footer')
                    button(type='submit' class='btn btn-primary login-button' data-dismiss='modal') Login